@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Piadas de Partir o "uobo" a Rir!</h1>
    <p>Diogo Correia Carlos</a></p>
    <div>
        <img src=~/css/uobo.jpg />
    </div>
</div>

